body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #fff;
    font-family: sans-serif;
}
a{
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}

#wrapper{
	position:relative;
}
.content{
    background: #F5F5F5;
    width: 90%;
    margin: auto;
    display: block;
	margin: 10px auto;

}

div, p, article, li, ul, h1, h2, h3, h4, h5, h6, table {
    box-sizing: border-box;
}

h2 {
    color: black;
    margin: 0;
    font-weight: bold;
	font-size:1.2em;
}
h3 {
  margin-top: 0px;
}

.current-question {
   text-align: left;
box-sizing: border-box;
padding: 15px 0px 15px 45px;
color: #000;
width: 90%;
}

.workers .column h2 {
padding-left: 20px;
font-size: 1.4em;
font-weight: 300;
}

#questions {
  width: 90%;
  margin: auto;
  padding: 5% 0px;
  display: block;
  text-align: center;
}

#questions li {
     list-style: none;
  width: 10px;
  height: 10px;
  line-height: 10px;
  border-radius: 20px;
  text-align: center;
  background: #ccc;
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 8px;
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
}

#questions li:hover {
    background-color: red;
}

#questions li.active {
    background-color: #555;
}

.qualifiers {
    padding: 0;
	margin-top:0px;
}

.qualifiers > li {
    list-style: none;
    background: rgba(255, 255, 255, .3);
    color: black;
    font-size: 12px;
    cursor: pointer;
    /*overflow: hidden;*/
    display: none;
}
.qualifiers > li.active {
    display: block;
}

.qualifiers > li:nth-child(odd) {
    background: rgba(255, 255, 255, .1);
}

.qualifiers > li:hover {
    background: rgba(0, 255, 0, .1);
}

.subgroup {
    margin: 0;
    padding: 0;
}

.subgroup-item {
    display: block;
	margin-bottom: 6px;
	height: 20px;
	padding-top: 7px;
	color: white;
	padding-left: 10px;
	display: block;
    margin-bottom: 4px;
    height: 25px;
    padding-top: 7px;
    color: white;
}

.content .column{
    padding: 20px 0px;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
    vertical-align: top;
	padding-left: 30px;
}

.content .current-answers.column {
    width: 25%;
	text-align:left;
}

.current-desc{
	font-size:.9em;
}

.content .charts.column {
    width: 70%;
}
.answers{
	padding-left: 0px;
}
.answers .answer-item{
    list-style-type: none;
    padding: 10px;
    background: #fff;
    margin-top: 5px;
}
.answers .active.answer-item{
    list-style-type: none;
    padding: 10px;
    background: #ccc;
    margin-top: 5px;
}
.answer-item a{
	font-size:.8em;
}
.charts .column {
    padding: 0px 20px;
    display: inline-block;
    width: 49.5%;
    background: rgba(255, 255, 255, .1);
}

#legend {
    padding: 0;
}

#legend .dot{
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: inline-block;
}

#legend li {
    list-style: none;
    padding: 5px;
    color: black;
    display: inline-block;
    width: 20%;
}
.key {
	vertical-align:super;
}
circle {
    -webkit-transition: fill 0.3s;
    -ms-transition: fill 0.3s;
    transition: fill 0.3s;
}


/* Base styles for this pen */
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing:    border-box;
  box-sizing:         border-box;
}


a:hover {
  text-decoration: none;
}

header,
.content,
.content p {

  text-align: center;
}

/**
 * Tooltips!
 */

/* Base styles for the element that has a tooltip */
[data-tooltip],
.tooltip {
  position: relative;
  cursor: pointer;
}

/* Base styles for the entire tooltip */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after {
  position: absolute;
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition:
      opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -webkit-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    -moz-transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        -moz-transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
    transition:
        opacity 0.2s ease-in-out,
        visibility 0.2s ease-in-out,
        transform 0.2s cubic-bezier(0.71, 1.7, 0.77, 1.24);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform:    translate3d(0, 0, 0);
  transform:         translate3d(0, 0, 0);
  pointer-events: none;
}

/* Show the entire tooltip on hover and focus */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* Base styles for the tooltip's directional arrow */
.tooltip:before,
[data-tooltip]:before {
  z-index: 1001;
  border: 6px solid transparent;
  background: transparent;
  content: "";
}

/* Base styles for the tooltip's content area */
.tooltip:after,
[data-tooltip]:after {
  z-index: 1000;
  padding: 8px;
  width: 160px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  font-size: 14px;
  line-height: 1.2;
}

/* Directions */

/* Top (default) */
[data-tooltip]:before,
[data-tooltip]:after,
.tooltip:before,
.tooltip:after,
.tooltip-top:before,
.tooltip-top:after {
  bottom: 100%;
  left: 50%;
}

[data-tooltip]:before,
.tooltip:before,
.tooltip-top:before {
  margin-left: -6px;
  margin-bottom: -12px;
  border-top-color: #000;
  border-top-color: hsla(0, 0%, 20%, 0.9);
}

/* Horizontally align top/bottom tooltips */
[data-tooltip]:after,
.tooltip:after,
.tooltip-top:after {
  margin-left: -80px;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after,
[data-tooltip]:focus:before,
[data-tooltip]:focus:after,
.tooltip:hover:before,
.tooltip:hover:after,
.tooltip:focus:before,
.tooltip:focus:after,
.tooltip-top:hover:before,
.tooltip-top:hover:after,
.tooltip-top:focus:before,
.tooltip-top:focus:after {
  -webkit-transform: translateY(-12px);
  -moz-transform:    translateY(-12px);
  transform:         translateY(-12px);
}

/* Left */
.tooltip-left:before,
.tooltip-left:after {
  right: 100%;
  bottom: 50%;
  left: auto;
}

.tooltip-left:before {
  margin-left: 0;
  margin-right: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-left-color: #000;
  border-left-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-left:hover:before,
.tooltip-left:hover:after,
.tooltip-left:focus:before,
.tooltip-left:focus:after {
  -webkit-transform: translateX(-12px);
  -moz-transform:    translateX(-12px);
  transform:         translateX(-12px);
}

/* Bottom */
.tooltip-bottom:before,
.tooltip-bottom:after {
  top: 100%;
  bottom: auto;
  left: 50%;
}

.tooltip-bottom:before {
  margin-top: -12px;
  margin-bottom: 0;
  border-top-color: transparent;
  border-bottom-color: #000;
  border-bottom-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-bottom:hover:before,
.tooltip-bottom:hover:after,
.tooltip-bottom:focus:before,
.tooltip-bottom:focus:after {
  -webkit-transform: translateY(12px);
  -moz-transform:    translateY(12px);
  transform:         translateY(12px);
}

/* Right */
.tooltip-right:before,
.tooltip-right:after {
  bottom: 50%;
  left: 100%;
}

.tooltip-right:before {
  margin-bottom: 0;
  margin-left: -12px;
  border-top-color: transparent;
  border-right-color: #000;
  border-right-color: hsla(0, 0%, 20%, 0.9);
}

.tooltip-right:hover:before,
.tooltip-right:hover:after,
.tooltip-right:focus:before,
.tooltip-right:focus:after {
  -webkit-transform: translateX(12px);
  -moz-transform:    translateX(12px);
  transform:         translateX(12px);
}

/* Move directional arrows down a bit for left/right tooltips */
.tooltip-left:before,
.tooltip-right:before {
  top: 3px;
}

/* Vertically center tooltip content for left/right tooltips */
.tooltip-left:after,
.tooltip-right:after {
  margin-left: 0;
  margin-bottom: -16px;
}
.nav{
	cursor:pointer;
	position:absolute;
	top:50%;
	color:#fa7b2c;
	font-size:3em;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	margin-top:-1.5em;
}
#previous{
	left:10px;
}
#next{
	right:10px;
}