body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #F5F5F5;
    font-family: sans-serif;
}

div, p, article, li, ul, h1, h2, h3, h4, h5, h6, table {
    box-sizing: border-box;
}

h2 { 
    color: black; 
    margin: 0; 
    font-weight: bold;
}

.current-question {
    box-sizing: border-box;
    padding: 10px;
    color: #000;
    width: 90%;
}


#questions {
    padding: 0;
    float: left;
    margin: 10px;
}

#questions li {
    list-style: none;
    width: 40px;
    height: 40px;
    line-height: 20px;
    border-radius: 20px;
    text-align: center;
    background: #555;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
}

#questions li:hover {
    background-color: #550;
}

#questions li.active {
    background-color: orange;
}

article {
    float: left;
    width: 90%;
}

.qualifiers {
    padding: 0;
}

.qualifiers > li {
    list-style: none;
    background: rgba(255, 255, 255, .3);
    color: black;
    font-size: 12px;
    cursor: pointer;
    overflow: hidden;
}

.qualifiers > li:nth-child(odd) {
    background: rgba(255, 255, 255, .1);
}

.qualifiers > li:hover {
    background: rgba(0, 255, 0, .1);
}

.subgroup {
    margin: 0;
    padding: 0;
}

.subgroup-item {
    display: inline-block;
    height: 2px;
}

.column {
    padding: 20px;
    float: left;
    width: 49.5%;
    background: rgba(255, 255, 255, .1);
}

.workers {
    margin-right: 1%;
}

#legend {
    width: 49.5%;
    float: left;
    padding: 0;
}

#legend .dot{
    border-radius: 50px;
    font-size: 20px;
    color: #fff;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    display: block;
}

#legend li {
    list-style: none;
    padding: 5px;
    color: black;
}

circle {
    transition: transform .3s, fill .3s;
}